.container-eventos {
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 150px;
    height: 50px;
  }
  .btns {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
  }
 .btn1{
    background-color: rgb(132, 167, 233);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
 }
 .btn2{
    background-color: rgb(59, 101, 165);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
 }
 .btn3{
    background-color: rgb(175, 20, 40);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
 }